pyenv/
6030000_Eisenhuettenstadt_Q_TagWerte.csv
6030800_Hohensaaten-Finow_Q_TagWerte.csv
discharge_1991_cropped.nc
discharge_1992_cropped.nc
discharge_1993_cropped.nc
discharge_1994_cropped.nc
discharge_1995_cropped.nc
discharge_1996_cropped.nc
discharge_1997_cropped.nc
discharge_1998_cropped.nc
discharge_1999_cropped.nc
discharge_2000_cropped.nc
discharge_2001_cropped.nc
discharge_2002_cropped.nc
discharge_2003_cropped.nc
discharge_2004_cropped.nc
discharge_2005_cropped.nc
discharge_2006_cropped.nc
discharge_2007_cropped.nc
discharge_2008_cropped.nc
discharge_2009_cropped.nc
discharge_2010_cropped.nc
discharge_2011_cropped.nc
discharge_2012_cropped.nc
discharge_2013_cropped.nc
discharge_2014_cropped.nc
discharge_2015_cropped.nc
discharge_2016_cropped.nc
discharge_2017_cropped.nc
discharge_2018_cropped.nc
discharge_2019_cropped.nc
discharge_2020_cropped.nc
discharge_2021_cropped.nc
discharge_2022_cropped.nc
RWB_2016_ManagementRestrictionOrRegulationZone_2020_L.gml+xml